*# Entorno virtual
env/
.venv/
myenv/

# Variables de entorno
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
**/__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Dataset de entrenamiento
az-handwritten-alphabets-in-csv-format.zip
dataset_az/

# Node
node_modules/

# Archivos temporales
*.log
*.tmp
*.temp
*.bak
*.swp

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

edusenas.sql
