<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width,
                 initial-scale=1.0,
                 maximum-scale=1,
                 user-scalable=no"
    >

    <title>{% block title %}EDUSEÑAS{% endblock %}</title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Sora:wght@500;600;700;800&display=swap"
        rel="stylesheet"
    >

    <!-- Estilos generales -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}"
    >
    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/navbar.css') }}"
    >

    <!-- Estilos específicos de cada página -->
    {% block styles %}
    {% endblock %}

</head>

<body>

    <div class="page">

        {% include "componentes/navbar.html" %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

    </div>

    {% block scripts %}
    {% endblock %}

</body>

</html>