<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width,
                 initial-scale=1.0,
                 maximum-scale=1,
                 user-scalable=no"
    >

    <title>{% block title %}EDUSEÑAS{% endblock %}</title>

    <!-- FUENTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&family=Nunito:wght@600;700;800&display=swap"
        rel="stylesheet"
    >

    <!-- CSS GENERAL -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/base.css') }}"
    >
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/navbar.css') }}"
    >

    <!-- CSS ESPECÍFICO DE CADA PÁGINA -->
    {% block styles %}
    {% endblock %}

</head>

<body>

    <div class="page">

        {% include "componentes/navbar.html" %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer">
            <div class="footer-container">
                <p>© 2026 EDUSEÑAS. TODOS LOS DERECHOS RESERVADOS.</p>
            </div>
        </footer>

    </div>

    {% block scripts %}
    {% endblock %}



</body>



</html>