<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password.css') }}">
    <title>Recuperar contraseña</title>
</head>
<body>
    {%if error%}
        <p class="error">{{error}}</p>
    {%endif%}

    {%if not session.get("email")%}
        <form method="POST" action="{{ url_for('auth_routes.recover_password_route') }}">
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Enviar código de verificación</button>
            <a href="{{ url_for('auth_routes.login_route') }}" class="back-button"> Volver al inicio de sesión </a>
        </form>
    {%else%}
        <div class="container-message">
            <p class="message">Se ha enviado un código de verificación a {{ session.get("email") }}. Por favor, revisa tu correo electrónico.</p>
            <a href="{{ url_for('auth_routes.verify_email_route') }}"> Verificar código </a>
            <a href="{{ url_for('auth_routes.login_route') }}"> Volver al inicio de sesión </a>
        </div>
    {%endif%}
</body>
</html>