<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recover_password.css') }}">
    <title>Resetear contraseña</title>
</head>
<body>
    {% if error %}
        <p class="error">{{error}}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('auth_routes.reset_password_route') }}">
        <label for="new_password">Nueva contraseña:</label>
        <input type="password" id="new_password" name="new_password" required>
        <label for="confirm_password">Confirmar nueva contraseña:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <button type="submit">Resetear contraseña</button>
        <a href="{{ url_for('auth_routes.login_route') }}"> Volver al inicio de sesión </a>
    </form>
</body>
</html>